*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 80%;
    margin: 0 auto;
}
/*part-1*/
.about-me{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    
}
.description{
    width: 50%;
    padding-top: 35px;
}

.my-img img{
    width: 500px;
    clip-path: circle();
}
.vertical-line{
    display: flex;
}

#line{
    margin-top: 18px;
    border-left: 6px solid #6056ac;
    height: 140px;

}
.title{
    padding-left: 5px;
    font-size: 70px;
    font-family: 'Philosopher', sans-serif;
}
.title span{
    color: #00008b;
    font-family: 'Poppins', sans-serif;
}

p{
    padding: 25px 0;
    font-size: 22px;
}
.btn{
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #6056ac;
    padding: 15px 30px;
    border-radius: 5px;
    transition: .8s;
}
.btn:hover{
    background-color: #00008b;
    color: wheat;
}

/*part-2*/
.mission-title{
    text-align: center;
    font-size: 50px;
    font-family: 'Philosopher', sans-serif;
        
}

.mission-title span{
    color: #00008b;
    font-family: 'Poppins', sans-serif;
}

.mission-card{
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}

.card{
    height: 400px;
    width: 31%;
    border-radius: 25px;
    padding: 0 25px;
    
}
.card img{
    width: 150px;

}
.card h3{
    font-size: 25px;
}

#card-1{
    background-color: #008b8b34;
}

#card-2{
    background-color: #9eb0f8;
}

#card-3{
    background-color: #c0c0c0;
}

/*part-3*/
.Develop{
    display: flex;
    margin: 40px 0;
        
}
.coding{
    
    justify-content: space-between;
}
.coding img{
    width: 500px;
}

#coding-title{
    padding-top: 80px;
    padding-left: 10%;
}

#coding-title h2{
    font-size: 40px;
    font-family: 'Philosopher', sans-serif;
    
}

#coding-title span{
    color: #00008b;
    font-family: 'Poppins', sans-serif;
}

/*part-4*/

.working-projects{
    display: flex;
    margin: 40px 0;
        
}
.projects{
    justify-content: space-between;
}
.projects img{
    width: 450px;
}

#projects-title{
    padding-top: 60px;
    padding-right: 10%;
}

#projects-title h2{
    font-size: 40px;
    font-family: 'Philosopher', sans-serif;
}

#projects-title span{
    color: #00008b;
    font-family: 'Poppins', sans-serif;
}

/*part-4*/
.copyright{
    text-align: center;
    background-color: #1c1d1f;
    margin: 0 -12.5%;
    height: 200px;    
}

#footer-mission{
    color: white;
    padding-top: 75px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: .2em;
}
#footer-mission span{
    color: #00dfc0 ;
}
#footer-dialogue{
    color: white;
    
}