*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 80%;
    margin: 0 auto;
}

.about-me{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    
}
.description{
    width: 50%;
    padding-top: 35px;
}

.my-img img{
    width: 500px;
    clip-path: circle();
}

.title{
    padding-left: 5px;
    font-size: 80px;
    border-left: 5px solid #6056ac;
}
.title span{
    color: #00008b;
    font-family: 'Libre Baskerville', serif;
}

p{
    padding: 25px 0;
    font-size: 22px;
}
.btn{
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #6056ac;
    padding: 15px 30px;
    border-radius: 5px;
    transition: .8s;
}
.btn:hover{
    background-color: #00008b;
    color: wheat;
}


.mission-title{
    text-align: center;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    
}

.mission-title span{
    color: #00008b;
    
}

.mission-card{
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}

.card{
    height: 400px;
    width: 31%;
    border-radius: 25px;
    padding: 0 25px;
    
}
.card img{
    width: 150px;

}
.card h3{
    font-size: 25px;
}

#card-1{
    background-color: #008b8b34;
}

#card-2{
    background-color: #9eb0f8;
}

#card-3{
    background-color: #c0c0c0;
}